//!!! 5
doctype html
html(lang='en')
head
    meta(charset='utf-8')
    title InstaDemo 
    meta(name="viewport" content="width=device-width,user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css')
body
  .container-fluid
    .row-fluid
      #sidebar-left.span1
      noscript
        .alert.alert-block.span11
          h4.alert-heading Warning!
          p
            | You need to have
            a(href='http://en.wikipedia.org/wiki/JavaScript', target='_blank') JavaScript
            | enabled to use this site.
      #content.span11
  footer
      span
        | ©
        Demo app for live stream stats 
        | 2014
  script(data-main='/qvt/js/run',src='/qvt/js/components/requirejs/require.js')
