//!!! 5
doctype html
html(lang='en')
head
    meta(charset='utf-8')
    title Quikwallet Virtual Terminal
    meta(name='description', content='QukWallet Virtual Terminal - QVT.')
    meta(name='author', content='Livquik')
    meta(name="viewport" content="width=device-width,user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
body
  header
    #header
  .container-fluid
    input#taginput(type='text',placeholder = "enter a word ie. android")
    .row-fluid
      #sidebar-left.span1
      noscript
        .alert.alert-block.span11
          h4.alert-heading Warning!
          p
            | You need to have
            a(href='http://en.wikipedia.org/wiki/JavaScript', target='_blank') JavaScript
            | enabled to use this site.
      #content.span11
  #modals.container-fluid
  footer
      span
        | ©
        Demo app for live stream stats 
        | 2014
  script(type='text/javascript').
    var require = {
       urlArgs : "v=19"
     };
  script(data-main='/qvt/js/run',src='/qvt/js/components/requirejs/require.js')
  //script(data-main='/qvt/js/build/main',src='/qvt/js/bower_components/requirejs/require.js')
