input#taginput(type='text',placeholder = "enter a word ie. Android")
p enter a keyword , if you enter many keywords then only first keyword will be searched for now
a#submit.btn.btn-large.btn-primary(href='javascript:void(0)')
  | Submit


